.firstName{
  text-transform: uppercase;
  font-size: 3rem;
}


.imageWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.kpsTitle{
  font-family: "UnitedSansCdHv", franklin-gothic-urw !important;
  margin-bottom: 20px;
  margin-top: 20px;
}

.kpsWrapper{
  overflow-x: hidden;
}

.lastName{
  font-size: 2rem;
  line-height: 0.4;
}

.playerCard{
  margin-left: 0px;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  width: 40vw;
  padding-top: 2vh;
}

.playerInfo{
  font-family: "UnitedSansCdBd", franklin-gothic-urw !important;
  line-height: 1;
}

.playerNumber{
  font-size: 6rem;
  font-family: "UnitedSansCdBd", franklin-gothic-urw !important;
}

.playerPic{
  height: auto;
  width: 100%;
}

.playerStats{
  margin-top: 5vh;
  line-height: .3;
  font-size: .8rem;
}